.comidas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #369A98, #B7DAD4);
}

.comidas-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.audio-section {
  margin-bottom: 20px;
}

.audio-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.audio-section audio {
  width: 100%;
  margin-top: 10px;
}

.rating-section {
  margin-bottom: 20px;
}

.rating-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group label {
  font-size: 16px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.next-week-btn, .profile-button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.next-week-btn:disabled, .profile-button {
  background-color: #ccc;
  cursor: not-allowed;
}

.next-week-btn:hover, .profile-button:hover {
  background-color: #45a049;
}

.week-image {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border-radius: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .comidas-box {
    padding: 15px;
  }

  .audio-section h3,
  .rating-section h3 {
    font-size: 16px;
  }

  .input-group label {
    font-size: 14px;
  }

  .input-group input {
    font-size: 14px;
  }

  .next-week-btn, .profile-button {
    font-size: 14px;
    padding: 10px;
  }

  .week-image {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  .comidas-box {
    padding: 10px;
  }

  .audio-section h3,
  .rating-section h3 {
    font-size: 14px;
  }

  .input-group label {
    font-size: 12px;
  }

  .input-group input {
    font-size: 14px;
  }

  .next-week-btn, .profile-button {
    font-size: 14px;
    padding: 8px;
  }

  .week-image {
    max-width: 200px;
  }
}

/* Estilo para centrar el video y el botón */
.intro-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-container {
  text-align: center;
}

.advance-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.advance-button:hover {
  background-color: #45a049;
}
